* {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
	padding: 0;
	margin: 0;
  background: #65a850;
  background: url(/assets/sprites/grass_tile.gif);
}

.uiText {
	position:absolute;
	font-family:Arial, Helvetica, sans-serif;
	color:#555;
	font-size:2em;
	text-align:left;
  background: rgba(36,105,29,.8);
  color: white;
}

#myShape {
	left:1em;
	bottom:1em;
  padding: 10px;
  -moz-transform: rotate(3deg);
  -webkit-transform: rotate(3deg);

}

#shapeHelper {
  position: absolute;
  right: -155px;
  bottom: calc(50% - 15px);
  font-size: 22px;
  background: rgba(255,255,255,.7);
  padding: 10px 8px;
  color: #537112;
  text-align: center;
  -webkit-transform: rotate(-6deg);
  -moz-transform: rotate(-6deg);
  transform: rotate(-6deg);
  border: solid 2px rgba(36,105,29,.6);
  -webkit-animation: strobe 1s linear infinite;
  -moz-animation: strobe 1s linear infinite;
  -webkit-transform-origin: left;
}

@-moz-keyframes strobe {
  0% {opacity: 1; -moz-transform: scale(1) rotate(-6deg) transalateX(5px);}
  50% {opacity: .5; -moz-transform: scale(.95) rotate(-6deg);}
  100% {opacity: 1;  -moz-transform: scale(1) rotate(-6deg) transalateX(5px);}
}
@-webkit-keyframes strobe {
  0% {opacity: 1;  -webkit-transform: scale(1) rotate(-6deg) transalateX(5px);}
  50% {opacity: .5; -webkit-transform: scale(.95) rotate(-6deg);}
  100% {opacity: 1; -webkit-transform: scale(1) rotate(-6deg) transalateX(5px);}
}

#timerText {
	top:.3em;
	right:.3em;
  -moz-transform: rotate(3deg);
  -webkit-transform: rotate(3deg);
  padding: 30px 0;
  width: 135px;
  text-align: center;
  font-size: 60px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
}

#scoreText {
	bottom:1em;
	right:1em;
  padding: 10px;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
}

#nameText {
	top:1em;
	left:1em;
  background: black;
  color: white;
  padding: 10px;
  background: rgba(36,105,29,.8);
  -moz-transform: rotate(-3deg);
  -webkit-transform: rotate(-3deg);
}

#enterName {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom:0;
  right: 0;
  background: url(/assets/splash.jpg);
  background-size: 1550px;
  background-repeat: no-repeat;
  background-position:top;
  margin: 0 auto;
}

#name-ui {
  margin: 0 auto;
  position: relative;
  top: 470px;
  text-align: center;
}

#name-ui #greeting {
  margin-bottom: 5px;
  font-size: 24px;
  color:#24691d;
  font-family: Helvetica,Arial;
  margin-bottom: 10px;
  font-weight: bold;
}

#name-ui input {
  font-size: 30px;
  padding: 10px 12px;
  color: #777;
}

#name-ui #enterNameButton {
  font-size: 30px;
  padding: 11px 12px;
  color: white;
  font-family: Helvetica;
  text-decoration: none;
  background: #24691d;
}

#credits {
  padding-top: 30px;
  color: white;
  text-align: center;
  font-family: Helvetica, Arial;
  color: rgba(255,255,255,.6);
  font-size: 18px;
}

#credits a {
  color: white;
  text-decoration: none;
}

#scoreboard {
  top: calc(50% - 220px);
  left: calc(50% - 240px);
  position: absolute;
  padding: 20px 40px 40px 40px;
  background: rgba(36,105,29,.9);
  width: 400px;
  color: white;
  font-family: helvetica,arial;
  display: none;
}

#scoreboard h1 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

#scoreboard #place {
  font-size: 80px;
  position: relative;
  top: 5px;
  margin-top: 15px;
}

#scoreboard #points {
  font-size: 25px;
  font-weight: normal;
  color: rgba(255,255,255,.7);
}



#scoreboard #playerSpriteWrapper {
  width: 120px;
  height: 110px;
  position: absolute;
  top: 0px;
  right: 55px;
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
}

#scoreboard #playerSprite {
  width: 120px;
  height: 110px;
  position: absolute;
  background-image: url(/assets/sprites/tile_sprites.png);
  background-position: 0px 0px;
  background-repeat: no-repeat;
  -webkit-animation: groovin 1s infinite linear;
  -webkit-transform-origin: bottom;
  -moz-animation: groovin 1s infinite linear;
  -moz-transform-origin: bottom;

}

#scoreboard #spriteShadow {
  width: 120px;
  height: 120px;
  background: black;
  position: absolute;
  bottom: -55px;
  left: 0px;
  opacity: .2;
  background: white;
  -webkit-border-radius: 80px;
  -webkit-transform: scaleY(.3);
}

@-webkit-keyframes groovin {
  0% { -webkit-transform: skew(10deg,0deg) scaleX(.95); }
  10% { -webkit-transform: scaleY(.85) skew(5deg,0deg); }
  50% { -webkit-transform: skew(-10deg,0deg) scaleX(.95); }
  60% { -webkit-transform: scaleY(.85) skew(-5deg,0deg); }
  100% { -webkit-transform: skew(10deg,0deg) scaleX(.95); }
}
@-moz-keyframes groovin {
  0% { -webkit-transform: skew(10deg,0deg) scaleX(.95); }
  10% { -webkit-transform: scaleY(.85) skew(5deg,0deg); }
  50% { -webkit-transform: skew(-10deg,0deg) scaleX(.95); }
  60% { -webkit-transform: scaleY(.85) skew(-5deg,0deg); }
  100% { -webkit-transform: skew(10deg,0deg) scaleX(.95); }
}


#scoreboard #playerLevel {
  float: right;
  position: relative;
  left: 0px;
  top: 0px;
  width: 145px;
  text-align: center;
  font-size: 25px;
  font-weight: normal;
  color: rgba(255,255,255,.7);
}

#scoreboard #standings {
  font-size: 25px;
  font-weight: normal;
  color: rgba(255,255,255,.7);
  border-top: solid 5px rgba(255,255,255,.6);
  margin-top: 15px;
  padding-top: 25px;
}


#scoreboard #standings #standing {
  padding: 10px 0;
  border-bottom: solid 4px #1d6216;
}


#scoreboard #standings #standing:last-child {
  padding: 10px 0;
  border: none;
}


#scoreboard #standings #standing div {
  float: left;
}

#scoreboard #standings #standing .playerScore {
  float: right;
}

#scoreboard #standings #standing .playerName {
  color: white;
}


#scoreboard #standings #standing .playerPlace {
  width: 60px;
}


#scoreboard #standings #standing {
  overflow: auto;
}


.shapeWrapper {
  position: relative;
}

.tile {
  background: white;
  position: absolute;
  border: solid 1px #537112;
}
